.toolTip {
	-fx-pref-width: 20px;
	-fx-pref-height:20px;
	-fx-background-radius: 50%;
	-fx-content-display: center;
	-fx-background-color: #ABABAB;
	-fx-text-fill: white;
}

.progress-bar .testing{
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        red; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}